In [2]:
#Import Library
import pandas as pd

In [7]:
#Import dataset
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00246/3D_spatial_network.txt",
                   names = ["OSM_ID", " LONGITUDE", "LATITUDE", "ALTITUDE"])

In [8]:
data.head()

      OSM_ID   LONGITUDE   LATITUDE   ALTITUDE
0  144552912    9.349849  56.740876  17.052772
1  144552912    9.350188  56.740679  17.614840
2  144552912    9.350549  56.740544  18.083536
3  144552912    9.350806  56.740484  18.279465
4  144552912    9.351053  56.740486  18.422974

In [9]:
#Converting dataset into csv format
data.to_csv("data.csv", index = None, header = True)